includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 6
	phpVersion: 70400
	paths:
		- fast-woo-sale.php
		- uninstall.php
		- includes
	scanFiles:
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	treatPhpDocTypesAsCertain: false
